/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "NesController";
  src: url("../fonts/NESControllerMrShrike.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NESControllerMrShrike.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/NESControllerMrShrike.svg") format("svg"), /* Legacy iOS */
  url("../fonts/NESControllerMrShrike.woff") format("woff"), /* Modern Browsers */
  url("../fonts/NESControllerMrShrike.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Pretendo";
  src: url("../fonts/Pretendo.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Pretendo.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Pretendo.svg") format("svg"), /* Legacy iOS */
  url("../fonts/Pretendo.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Pretendo.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  font-family: Lato, Roboto;
  background: #A49890;
}